extends ../layouts/common
block content
	h1(style="text-align:center") Infomation
	p 
		b Name: 
			span &nbsp;
			span=user.name
			span &nbsp;
			br
		b Date of birth:
			span &nbsp;
			span=user.date
			span &nbsp;
			br
		b Address: 
			span &nbsp;
			span=user.address
			span &nbsp;	
			br
		b Sex: 
			span &nbsp;
			span=user.sex
			span &nbsp;
			br
		b Phone: 
			span &nbsp;
			span=user.phone
			span &nbsp;
	
